<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estructura semántica | Primer caso</title>

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Estructura semántica usando display: block, inline e inline-block</h1>
  </header>

  <main class="content">
    <header></header>

    <div>
      <aside>
        <section></section>
        <section></section>
      </aside>
      
      <main></main>
    </div>

    <footer></footer>
  </main>
</body>
</html>