<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estructura semántica | Tercer caso</title>

  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="styles2.css">
</head>
<body>
  <header>
    <h1>Estructura semántica usando display: grid</h1>
  </header>

  <main class="content">
    <header></header>

    <aside>
      <section></section>
      <section></section>
    </aside>
    
    <main></main>

    <footer></footer>
  </main>

  <main class="content-2">
    <header></header>

    <aside>
      <section></section>
      <section></section>
    </aside>
    
    <main></main>

    <footer></footer>
  </main>
</body>
</html>