.content-2 {
  width: var(--content-width);
  background-color: #FFF;
  padding: var(--spacing);
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 80px 320px 80px;
  grid-template-areas:
    "header header"
    "sidebar main-area"
    "footer footer";
  gap: var(--spacing);
}

.content-2 > header {
  grid-area: header;
  /* grid-area: 1 / 1 / 2 / -1; */
  background-color: #7F7F7F;
  border-radius: var(--border-radius);
}

.content-2 > aside {
  grid-area: sidebar;
  /* grid-area: 2 / 1 / 3 / 2; */
  display: grid;
  grid-template-rows: 60% 1fr;
  gap: var(--spacing);
}

.content-2 > aside > section {
  border-radius: var(--border-radius);
  border: none;
}

.content-2 > aside > section:first-of-type {
  background-color: #7092BF;
}

.content-2 > aside > section:last-of-type {
  background-color: #FE8081;
}

.content-2 > main {
  grid-area: main-area;
  /* grid-area: 2 / 2 / 3 / -1; */
  background-color: #FFC90D;
  border-radius: var(--border-radius);
  border: none;
}

.content-2 > footer {
  grid-area: footer;
  /* grid-area: 3 / 1 / 4 / -1; */
  background-color: #C7BFE6;
  border-radius: var(--border-radius);
}