*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3c3c3c;
  width: 100vw;
}

.nav {
  width: 100%;
  height: 48px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
  color: white;
}
.nav__items {
  display: flex;
  align-items: center;
  gap: 15px;
}

#logo {
  padding-block: 76px 38px;
  /* padding: 76px 0px 38px 0px; */
  text-align: center;
}

#logo > svg > path {
  fill: white;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  padding: 12px;
  min-width: 746px;
}
