@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  background-color: #0F172A;
  color: #FFF;
  min-width: 1080px;
  padding: 40px 100px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

h2, h4, p {
  margin: 0;
}

main {
  margin: 50px auto;
  color: #4A5463;
  width: 1080px;
}

a {
  color: #FFF;
  text-decoration: none;
  background-color: #1E293B;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}

article {
  margin: 50px auto 0;
  display: flex;
  background-color: #FFF;
  border-radius: 15px;
  width: 1080px;
}

article > img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  object-position: left;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

article > section {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article > section > h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

article > section > p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.sections-footer {
  display: flex;
}

.sections-footer > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sections-footer > section {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 20px;
}

.sections-footer > section div:first-of-type {
  h4 {
    font-weight: 600;
  }

  time {
    color: #4a5463AA;
  }
}

.sections-footer > section div:last-of-type {
  width: 40px;
  height: 40px;
  background-color: #EEF3FD;
  border-radius: 50%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
  }
}